@import "tailwindcss";
*{
  box-sizing: border-box;
}
#root {
  margin: 0;
 width: 100%;
font-family: 'Segoe UI', 'Helvetica Neue', system-ui, sans-serif;
 
 text-align: center;
  margin: 0 auto;
  
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
body{
  background-color: #121212;
  color: #ffffff;
  font-family: 'Segoe UI', 'Helvetica Neue', system-ui, sans-serif;
}
.light{
   background-color: #ffffff;
  color: #000000;
  font-family: 'Segoe UI', 'Helvetica Neue', system-ui, sans-serif;
}

.dark{
   background-color: #121212;
  color: #ffffff;
  font-family: 'Segoe UI', 'Helvetica Neue', system-ui, sans-serif;
}


.anime-card{
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  align-items: center;
  padding: 10px;
  margin-top: 30px;
  
}
.anime-card img{
 border-radius: 20px;
  width: 200px;
  height: 300px;
}

.dark a{
  color: hsla(0, 0%, 100%, 0.801);

}
.light a{
  color: rgb(17, 16, 16);
}




a:hover{
  color: rgb(66, 82, 142);
}
.anime-card-details{
  margin-top: 20px;
  line-height: 3ch;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.anime-search-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
 
}
.anime-search-bar-dark input{
  border: 2px solid white;
  font-size: 1.2rem;
  padding: 20px;
  background-color:#121212;
  border-radius: 30px;
  width: 300px;
  margin-right: 20px;
  color: rgb(245, 245, 245);
  font-family:  'sans-serif';
}

.anime-search-bar-dark button{
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #121212;
  color: rgb(255, 254, 254);
  font-size: 1.2rem;
  border: 2px solid white;
  cursor: pointer;
}
.anime-search-bar-dark button:hover{
  background-color: #ffffff;
  color: #121212;
}
.anime-search-bar-light input{
  border: 2px solid rgb(0, 0, 0);
  font-size: 1.2rem;
  padding: 20px;
  background-color:#ffffff;
  border-radius: 30px;
  width: 300px;
  margin-right: 20px;
  color: rgb(0, 0, 0);
 
  
}
.anime-search-bar-light button{
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  border: 2px solid black;
  cursor: pointer;
}

.loader{
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: relative;
  left: 50%;
  margin-top:20px ;
}
 /* navbar css */
.navbar {
  position: absolute;
  left: 12%;
  display: flex;
  margin: 0 auto;
  border-radius:40px ;
  width: 80%;
  padding:5px 30px;
  background-color: rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  box-shadow: #060606 0px 0px 10px;
}

.navbar h1{
  font-size: 2rem;
  font-weight: bold;
  margin-left:5px;
  
}
.navbar button{
  margin-left: auto;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #000000;
  color: rgb(251, 251, 251);
  font-size: 1.2rem;
  border: 3px solid rgb(255, 255, 255);
  cursor: pointer;
}
.navbar button:focus-visible ,.navbar button:focus{
  outline: none;
 
}
.log{
  clip-path: polygon(99% 1%, 0 54%, 100% 100%, 60% 66%, 100% 51%, 59% 39%);
  background-color: rgb(253, 253, 253);
  transform: rotate(92deg);
  width: 50px;
  height:50px;
}

.log-dark{
  background-color: rgb(0, 0, 0);
  transform: rotate(92deg);
  width: 50px;
  height:50px;
  clip-path: polygon(99% 1%, 0 54%, 100% 100%, 60% 66%, 100% 51%, 59% 39%);

}
.navbar-dark{
  position: absolute;
  left: 12%;
  top: 1;
  display: flex;
  margin: 0 auto;
  border-radius:40px ;
  width: 80%;
  padding:5px 30px;
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
  box-shadow: #f4f3f3 0px 0px 10px;
}

.navbar-dark button{
  margin-left: auto;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #fdfdfd;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  border: 3px solid rgb(0, 0, 0);
  cursor: pointer;
}

.navbar-dark button:focus-visible ,.navbar-dark button:focus{
  outline: none;
 
}


.navbar-dark h1{
  font-size: 2rem;
  font-weight: bold;
  margin-left:5px;
  
}